.navbar11-wrapper {
  display: contents;
}
 
.navbar11-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar11-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.navbar11-image1 {
  height: 3rem;
}
 
.navbar11-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar11-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar11-link11 {
  text-decoration: none;
}
 
.navbar11-link21 {
  text-decoration: none;
}
 
.navbar11-link31 {
  text-decoration: none;
}
 
.navbar11-link41 {
  text-decoration: none;
}
 
.navbar11-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar11-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar11-burger-menu {
  display: none;
}
 
.navbar11-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar11-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar11-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar11-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar11-logo {
  height: 3rem;
}
 
.navbar11-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar11-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar11-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar11-link12 {
  text-decoration: none;
}
 
.navbar11-link22 {
  text-decoration: none;
}
 
.navbar11-link32 {
  text-decoration: none;
}
 
.navbar11-link42 {
  text-decoration: none;
}
 
.navbar11-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar11-action12 {
  text-decoration: none;
}
 
.navbar11-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.d-modeling-animation-fragment13 {
  display: contents;
}
 
.d-modeling-animation-text13 {
  display: inline-block;
}
 
.d-modeling-animation-fragment12 {
  display: contents;
}
 
.d-modeling-animation-text12 {
  display: inline-block;
}
 
.d-modeling-animation-fragment10 {
  display: contents;
}
 
.d-modeling-animation-text10 {
  display: inline-block;
}
 
.d-modeling-animation-fragment14 {
  display: contents;
}
 
.d-modeling-animation-text14 {
  display: inline-block;
}
 
.d-modeling-animation-fragment11 {
  display: contents;
}
 
.d-modeling-animation-text11 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar11-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar11-desktop-menu {
    display: none;
  }
  .navbar11-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar11-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar11-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero14-wrapper {
  display: contents;
}
 
.hero14-container {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.hero14-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
}
 
.hero14-column {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero14-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero14-text1 {
  text-align: left;
}
 
.hero14-text2 {
  text-align: left;
}
 
.hero14-video {
  flex: 1;
  width: 550px;
  height: auto;
}
 
.d-modeling-animation-fragment16 {
  display: contents;
}
 
.d-modeling-animation-text16 {
  display: inline-block;
}
 
.d-modeling-animation-fragment15 {
  display: contents;
}
 
.d-modeling-animation-text15 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .hero14-max-width {
    flex-direction: column;
  }
  .hero14-text1 {
    text-align: center;
  }
  .hero14-text2 {
    text-align: center;
  }
  .hero14-video {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .hero14-video {
    height: auto;
  }
}

.hero172-wrapper {
  display: contents;
}
 
.hero172-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero172-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.hero172-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero172-text1 {
  text-align: center;
}
 
.hero172-text2 {
  text-align: center;
}
 
.hero172-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero172-row-container {
  width: 100%;
}
 
.hero172-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.hero172-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.hero172-container2 {
  display: contents;
}
 
.d-modeling-animation-fragment17 {
  display: contents;
}
 
.d-modeling-animation-text17 {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
}
 
.d-modeling-animation-fragment18 {
  display: contents;
}
 
.d-modeling-animation-text18 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero172-content2 {
    width: 100%;
  }
}

.features19-wrapper {
  display: contents;
}
 
.features19-layout349 {
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features19-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features19-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features19-video {
  width: 389px;
  height: 323px;
  align-self: center;
}
 
.features19-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
}
 
.d-modeling-animation-fragment19 {
  display: contents;
}
 
.d-modeling-animation-text19 {
  display: inline-block;
}
 
.d-modeling-animation-fragment20 {
  display: contents;
}
 
.d-modeling-animation-text20 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features19-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .features19-video {
    position: static;
  }
  .features19-actions {
    width: 100%;
    flex-direction: column;
  }
}

.hero173-wrapper {
  display: contents;
}
 
.hero173-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero173-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.hero173-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero173-text1 {
  text-align: center;
}
 
.hero173-text2 {
  text-align: center;
}
 
.hero173-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero173-row-container {
  width: 100%;
}
 
.hero173-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.hero173-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.hero173-container2 {
  display: contents;
}
 
.d-modeling-animation-fragment21 {
  display: contents;
}
 
.d-modeling-animation-text21 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-fragment22 {
  display: contents;
}
 
.d-modeling-animation-text22 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero173-content2 {
    width: 100%;
  }
}

.features191-wrapper {
  display: contents;
}
 
.features191-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features191-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features191-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features191-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d-modeling-animation-fragment24 {
  display: contents;
}
 
.d-modeling-animation-text24 {
  display: inline-block;
}
 
.d-modeling-animation-fragment23 {
  display: contents;
}
 
.d-modeling-animation-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features191-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.contact3-wrapper {
  display: contents;
}
 
.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact3-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-row {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact3-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text12 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text13 {
  text-align: center;
}
 
.contact3-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text14 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text15 {
  text-align: center;
}
 
.contact3-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text16 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text17 {
  text-align: center;
}
 
.contact3-address {
  text-align: center;
}
 
.d-modeling-animation-fragment29 {
  display: contents;
}
 
.d-modeling-animation-text34 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-fragment26 {
  display: contents;
}
 
.d-modeling-animation-text26 {
  display: inline-block;
}
 
.d-modeling-animation-fragment25 {
  display: contents;
}
 
.d-modeling-animation-text25 {
  display: inline-block;
}
 
.d-modeling-animation-fragment30 {
  display: contents;
}
 
.d-modeling-animation-text35 {
  display: inline-block;
}
 
.d-modeling-animation-fragment27 {
  display: contents;
}
 
.d-modeling-animation-text27 {
  display: inline-block;
}
 
.d-modeling-animation-link1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-link2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-fragment28 {
  display: contents;
}
 
.d-modeling-animation-text30 {
  display: inline-block;
}
 
.d-modeling-animation-link3 {
  text-decoration: underline;
}
 
.d-modeling-animation-link4 {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact3-row {
    align-items: stretch;
  }
}

.footer3-wrapper {
  display: contents;
}
 
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer3-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer3-image1 {
  width: auto;
  height: var(--dl-size-size-small);
}
 
.footer3-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-link3 {
  text-decoration: none;
}
 
.footer3-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.footer3-link1 {
  display: contents;
}
 
.footer3-icon1 {
  text-decoration: none;
}
 
.footer3-link2 {
  display: contents;
}
 
.footer3-icon3 {
  text-decoration: none;
}
 
.footer3-link4 {
  display: contents;
}
 
.footer3-icon5 {
  text-decoration: none;
}
 
.footer3-link5 {
  display: contents;
}
 
.footer3-icon7 {
  text-decoration: none;
}
 
.footer3-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer3-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-content3 {
  text-align: center;
}
 
.d-modeling-animation-fragment31 {
  display: contents;
}
 
.d-modeling-animation-text36 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
@media(max-width: 991px) {
  .footer3-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
  .footer3-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.d-modeling-animation-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.d-modeling-animation-fragment10 {
  display: contents;
}
 
.d-modeling-animation-text10 {
  display: inline-block;
}
 
.d-modeling-animation-fragment11 {
  display: contents;
}
 
.d-modeling-animation-text11 {
  display: inline-block;
}
 
.d-modeling-animation-fragment12 {
  display: contents;
}
 
.d-modeling-animation-text12 {
  display: inline-block;
}
 
.d-modeling-animation-fragment13 {
  display: contents;
}
 
.d-modeling-animation-text13 {
  display: inline-block;
}
 
.d-modeling-animation-fragment14 {
  display: contents;
}
 
.d-modeling-animation-text14 {
  display: inline-block;
}
 
.d-modeling-animation-fragment15 {
  display: contents;
}
 
.d-modeling-animation-text15 {
  display: inline-block;
}
 
.d-modeling-animation-fragment16 {
  display: contents;
}
 
.d-modeling-animation-text16 {
  display: inline-block;
}
 
.d-modeling-animation-fragment17 {
  display: contents;
}
 
.d-modeling-animation-text17 {
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
}
 
.d-modeling-animation-fragment18 {
  display: contents;
}
 
.d-modeling-animation-text18 {
  display: inline-block;
}
 
.d-modeling-animation-fragment19 {
  display: contents;
}
 
.d-modeling-animation-text19 {
  display: inline-block;
}
 
.d-modeling-animation-fragment20 {
  display: contents;
}
 
.d-modeling-animation-text20 {
  display: inline-block;
}
 
.d-modeling-animation-fragment21 {
  display: contents;
}
 
.d-modeling-animation-text21 {
  display: inline-block;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-fragment22 {
  display: contents;
}
 
.d-modeling-animation-text22 {
  display: inline-block;
}
 
.d-modeling-animation-fragment23 {
  display: contents;
}
 
.d-modeling-animation-text23 {
  display: inline-block;
}
 
.d-modeling-animation-fragment24 {
  display: contents;
}
 
.d-modeling-animation-text24 {
  display: inline-block;
}
 
.d-modeling-animation-fragment25 {
  display: contents;
}
 
.d-modeling-animation-text25 {
  display: inline-block;
}
 
.d-modeling-animation-fragment26 {
  display: contents;
}
 
.d-modeling-animation-text26 {
  display: inline-block;
}
 
.d-modeling-animation-fragment27 {
  display: contents;
}
 
.d-modeling-animation-text27 {
  display: inline-block;
}
 
.d-modeling-animation-link1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-link2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-fragment28 {
  display: contents;
}
 
.d-modeling-animation-text30 {
  display: inline-block;
}
 
.d-modeling-animation-link3 {
  text-decoration: underline;
}
 
.d-modeling-animation-link4 {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
.d-modeling-animation-fragment29 {
  display: contents;
}
 
.d-modeling-animation-text34 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.d-modeling-animation-fragment30 {
  display: contents;
}
 
.d-modeling-animation-text35 {
  display: inline-block;
}
 
.d-modeling-animation-fragment31 {
  display: contents;
}
 
.d-modeling-animation-text36 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
