.navbar1-wrapper {
  display: contents;
}
 
.navbar1-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
 
.navbar1-image1 {
  height: 3rem;
}
 
.navbar1-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar1-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.navbar1-link11 {
  text-decoration: none;
}
 
.navbar1-link21 {
  text-decoration: none;
}
 
.navbar1-link31 {
  text-decoration: none;
}
 
.navbar1-link41 {
  text-decoration: none;
}
 
.navbar1-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar1-action11 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar1-burger-menu {
  display: none;
}
 
.navbar1-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar1-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar1-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar1-logo {
  height: 3rem;
}
 
.navbar1-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar1-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar1-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar1-link12 {
  text-decoration: none;
}
 
.navbar1-link22 {
  text-decoration: none;
}
 
.navbar1-link32 {
  text-decoration: none;
}
 
.navbar1-link42 {
  text-decoration: none;
}
 
.navbar1-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar1-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.d-fragment12 {
  display: contents;
}
 
.d-text12 {
  display: inline-block;
}
 
.d-fragment11 {
  display: contents;
}
 
.d-text11 {
  display: inline-block;
}
 
.d-fragment14 {
  display: contents;
}
 
.d-text14 {
  display: inline-block;
}
 
.d-fragment13 {
  display: contents;
}
 
.d-text13 {
  display: inline-block;
}
 
.d-fragment10 {
  display: contents;
}
 
.d-text10 {
  display: inline-block;
}
 
.navbar1root-class-name2 {
  position: relative;
}
 
@media(max-width: 767px) {
  .navbar1-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar1-desktop-menu {
    display: none;
  }
  .navbar1-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar1-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .navbar1-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero71-wrapper {
  display: contents;
}
 
.hero71-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.hero71-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero71-text1 {
  text-align: center;
}
 
.hero71-text2 {
  text-align: center;
}
 
.d-fragment16 {
  display: contents;
}
 
.d-text16 {
  display: inline-block;
}
 
.d-fragment15 {
  display: contents;
}
 
.d-text15 {
  display: inline-block;
}
 


.hero171-wrapper {
  display: contents;
}
 
.hero171-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero171-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero171-row-container {
  width: 100%;
}
 
.hero171-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.hero171-container2 {
  display: contents;
}
 
@media(max-width: 767px) {
  .hero171-content {
    width: 100%;
  }
}

.features18-wrapper {
  display: contents;
}
 
.features18-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features18-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features18-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.d-fragment18 {
  display: contents;
}
 
.d-text18 {
  display: inline-block;
}
 
.d-fragment17 {
  display: contents;
}
 
.d-text17 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features18-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.features192-wrapper {
  display: contents;
}
 
.features192-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features192-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features192-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features192-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features192-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features192-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d-fragment20 {
  display: contents;
}
 
.d-text20 {
  display: inline-block;
}
 
.d-fragment19 {
  display: contents;
}
 
.d-text19 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features192-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.features181-wrapper {
  display: contents;
}
 
.features181-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features181-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features181-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features181-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features181-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features181-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.d-fragment21 {
  display: contents;
}
 
.d-text21 {
  display: inline-block;
}
 
.d-fragment22 {
  display: contents;
}
 
.d-text22 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features181-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.features191-wrapper {
  display: contents;
}
 
.features191-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features191-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features191-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features191-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d-fragment24 {
  display: contents;
}
 
.d-text24 {
  display: inline-block;
}
 
.d-fragment23 {
  display: contents;
}
 
.d-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features191-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.features182-wrapper {
  display: contents;
}
 
.features182-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features182-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features182-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features182-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features182-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features182-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.d-fragment25 {
  display: contents;
}
 
.d-text25 {
  display: inline-block;
}
 
.d-fragment26 {
  display: contents;
}
 
.d-text26 {
  display: inline-block;
}
 
.d-fragment27 {
  display: contents;
}
 
.d-text27 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features182-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.gallery111-wrapper {
  display: contents;
}
 
.gallery111-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery111-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery111-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery111-text1 {
  text-align: center;
}
 
.gallery111-text2 {
  text-align: center;
}
 
.gallery111-content {
  width: 100%;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery111-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery111-image1 {
  width: 100%;
  height: 340px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.gallery111-image2 {
  width: 100%;
  height: 340px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
 
.gallery111-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery111-image3 {
  width: 100%;
  height: 340px;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.gallery111-image4 {
  width: 100%;
  height: 340px;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
 
.d-fragment28 {
  display: contents;
}
 
.d-text28 {
  display: inline-block;
}
 
.d-fragment29 {
  display: contents;
}
 
.d-text29 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery111-content {
    max-width: 600px;
    align-items: center;
    flex-direction: column;
  }
  .gallery111-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery111-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery111-image3 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery111-image4 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}

.contact3-wrapper {
  display: contents;
}
 
.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact3-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-row {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact3-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text12 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text13 {
  text-align: center;
}
 
.contact3-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text14 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text15 {
  text-align: center;
}
 
.contact3-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text16 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text17 {
  text-align: center;
}
 
.contact3-address {
  text-align: center;
}
 
.d-fragment34 {
  display: contents;
}
 
.d-text39 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment31 {
  display: contents;
}
 
.d-text31 {
  display: inline-block;
}
 
.d-fragment30 {
  display: contents;
}
 
.d-text30 {
  display: inline-block;
}
 
.d-fragment35 {
  display: contents;
}
 
.d-text40 {
  display: inline-block;
}
 
.d-fragment32 {
  display: contents;
}
 
.d-text32 {
  display: inline-block;
}
 
.d-link1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-link2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment33 {
  display: contents;
}
 
.d-text35 {
  display: inline-block;
}
 
.d-link3 {
  text-decoration: underline;
}
 
.d-link4 {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact3-row {
    align-items: stretch;
  }
}

.footer3-wrapper {
  display: contents;
}
 
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer3-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.footer3-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer3-image1 {
  width: auto;
  height: var(--dl-size-size-small);
}
 
.footer3-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-link3 {
  text-decoration: none;
}
 
.footer3-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
 
.footer3-link1 {
  display: contents;
}
 
.footer3-icon1 {
  text-decoration: none;
}
 
.footer3-link2 {
  display: contents;
}
 
.footer3-icon3 {
  text-decoration: none;
}
 
.footer3-link4 {
  display: contents;
}
 
.footer3-icon5 {
  text-decoration: none;
}
 
.footer3-link5 {
  display: contents;
}
 
.footer3-icon7 {
  text-decoration: none;
}
 
.footer3-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer3-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.footer3-content3 {
  text-align: center;
}
 
.d-fragment36 {
  display: contents;
}
 
.d-text41 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
@media(max-width: 991px) {
  .footer3-logo {
    width: auto;
  }
}
 
@media(max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
  .footer3-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.d-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.d-fragment10 {
  display: contents;
}
 
.d-text10 {
  display: inline-block;
}
 
.d-fragment11 {
  display: contents;
}
 
.d-text11 {
  display: inline-block;
}
 
.d-fragment12 {
  display: contents;
}
 
.d-text12 {
  display: inline-block;
}
 
.d-fragment13 {
  display: contents;
}
 
.d-text13 {
  display: inline-block;
}
 
.d-fragment14 {
  display: contents;
}
 
.d-text14 {
  display: inline-block;
}
 
.d-fragment15 {
  display: contents;
}
 
.d-text15 {
  display: inline-block;
}
 
.d-fragment16 {
  display: contents;
}
 
.d-text16 {
  display: inline-block;
}
 
.d-fragment17 {
  display: contents;
}
 
.d-text17 {
  display: inline-block;
}
 
.d-fragment18 {
  display: contents;
}
 
.d-text18 {
  display: inline-block;
}
 
.d-fragment19 {
  display: contents;
}
 
.d-text19 {
  display: inline-block;
}
 
.d-fragment20 {
  display: contents;
}
 
.d-text20 {
  display: inline-block;
}
 
.d-fragment21 {
  display: contents;
}
 
.d-text21 {
  display: inline-block;
}
 
.d-fragment22 {
  display: contents;
}
 
.d-text22 {
  display: inline-block;
}
 
.d-fragment23 {
  display: contents;
}
 
.d-text23 {
  display: inline-block;
}
 
.d-fragment24 {
  display: contents;
}
 
.d-text24 {
  display: inline-block;
}
 
.d-fragment25 {
  display: contents;
}
 
.d-text25 {
  display: inline-block;
}
 
.d-fragment26 {
  display: contents;
}
 
.d-text26 {
  display: inline-block;
}
 
.d-fragment27 {
  display: contents;
}
 
.d-text27 {
  display: inline-block;
}
 
.d-fragment28 {
  display: contents;
}
 
.d-text28 {
  display: inline-block;
}
 
.d-fragment29 {
  display: contents;
}
 
.d-text29 {
  display: inline-block;
}
 
.d-fragment30 {
  display: contents;
}
 
.d-text30 {
  display: inline-block;
}
 
.d-fragment31 {
  display: contents;
}
 
.d-text31 {
  display: inline-block;
}
 
.d-fragment32 {
  display: contents;
}
 
.d-text32 {
  display: inline-block;
}
 
.d-link1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-link2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment33 {
  display: contents;
}
 
.d-text35 {
  display: inline-block;
}
 
.d-link3 {
  text-decoration: underline;
}
 
.d-link4 {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
.d-fragment34 {
  display: contents;
}
 
.d-text39 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment35 {
  display: contents;
}
 
.d-text40 {
  display: inline-block;
}
 
.d-fragment36 {
  display: contents;
}
 
.d-text41 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
