.navbar8-wrapper {
  display: contents;
}
 
.navbar8-container1 {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: sticky;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-navbar-interactive {
  width: 100%;
  display: flex;
  z-index: 100;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}
 
.navbar8-image1 {
  height: 3rem;
}
 
.navbar8-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar8-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: row;
  justify-content: flex-start;
}
 
.navbar8-link11 {
  text-decoration: none;
}
 
.navbar8-link31 {
  text-decoration: none;
}
 
.navbar8-link32 {
  text-decoration: none;
}
 
.navbar8-buttons1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
 
.navbar8-action21 {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
 
.navbar8-burger-menu {
  display: none;
}
 
.navbar8-icon1 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar8-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar8-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar8-logo {
  height: 3rem;
}
 
.navbar8-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar8-icon3 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar8-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar8-link12 {
  text-decoration: none;
}
 
.navbar8-link33 {
  text-decoration: none;
}
 
.navbar8-link4-accordion {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar8-trigger {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar8-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr;
}
 
.navbar8-menu-item1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page1-image {
  width: 50px;
  height: 50px;
}
 
.navbar8-content1 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page1 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page2-image {
  width: 50px;
  height: 50px;
}
 
.navbar8-content2 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page2 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page3-image {
  width: 50px;
  height: 50px;
}
 
.navbar8-content3 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page3 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-menu-item4 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.navbar8-page4-image {
  width: 50px;
  height: 50px;
}
 
.navbar8-content4 {
  width: 340px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.navbar8-page4 {
  font-style: normal;
  font-weight: 600;
}
 
.navbar8-buttons2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: row;
}
 
.navbar8-action22 {
  text-decoration: none;
}
 
.navbar8-container3 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
 
.d-fragment15 {
  display: contents;
}
 
.d-text15 {
  display: inline-block;
}
 
.d-fragment22 {
  display: contents;
}
 
.d-text22 {
  display: inline-block;
}
 
.d-fragment18 {
  display: contents;
}
 
.d-text18 {
  display: inline-block;
  text-decoration: underline;
}
 
.d-fragment23 {
  display: contents;
}
 
.d-text23 {
  display: inline-block;
}
 
.d-fragment11 {
  display: contents;
}
 
.d-text11 {
  display: inline-block;
}
 
.d-fragment19 {
  display: contents;
}
 
.d-text19 {
  display: inline-block;
  text-decoration: underline;
}
 
.d-fragment16 {
  display: contents;
}
 
.d-text16 {
  display: inline-block;
}
 
.d-fragment12 {
  display: contents;
}
 
.d-text12 {
  display: inline-block;
}
 
.d-fragment13 {
  display: contents;
}
 
.d-text13 {
  display: inline-block;
  text-decoration: underline;
}
 
.d-fragment21 {
  display: contents;
}
 
.d-text21 {
  display: inline-block;
}
 
.d-fragment10 {
  display: contents;
}
 
.d-text10 {
  display: inline-block;
}
 
.d-fragment20 {
  display: contents;
}
 
.d-text20 {
  display: inline-block;
}
 
.d-fragment17 {
  display: contents;
}
 
.d-text17 {
  display: inline-block;
}
 
.d-fragment14 {
  display: contents;
}
 
.d-text14 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .navbar8-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar8-desktop-menu {
    display: none;
  }
  .navbar8-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar8-mobile-menu {
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .navbar8-container2 {
    grid-gap: 0;
  }
}
 
@media(max-width: 479px) {
  .navbar8-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar8-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.hero71-wrapper {
  display: contents;
}
 
.hero71-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.hero71-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero71-text1 {
  text-align: center;
}
 
.hero71-text2 {
  text-align: center;
}
 
.d-fragment25 {
  display: contents;
}
 
.d-text25 {
  display: inline-block;
}
 
.d-fragment24 {
  display: contents;
}
 
.d-text24 {
  display: inline-block;
}
 


.hero171-wrapper {
  display: contents;
}
 
.hero171-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero171-content {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.hero171-row-container {
  width: 100%;
}
 
.hero171-placeholder-image10 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image11 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image12 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image13 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image14 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image15 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image16 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image17 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image18 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image19 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image20 {
  width: 400px;
  height: 400px;
}
 
.hero171-placeholder-image21 {
  width: 400px;
  height: 400px;
}
 
.hero171-container2 {
  display: contents;
}
 
@media(max-width: 767px) {
  .hero171-content {
    width: 100%;
  }
}

.features18-wrapper {
  display: contents;
}
 
.features18-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features18-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features18-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features18-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.d-fragment27 {
  display: contents;
}
 
.d-text27 {
  display: inline-block;
}
 
.d-fragment26 {
  display: contents;
}
 
.d-text26 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features18-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.features192-wrapper {
  display: contents;
}
 
.features192-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features192-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features192-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features192-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features192-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features192-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d-fragment29 {
  display: contents;
}
 
.d-text29 {
  display: inline-block;
}
 
.d-fragment28 {
  display: contents;
}
 
.d-text28 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features192-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.features181-wrapper {
  display: contents;
}
 
.features181-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features181-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features181-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features181-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features181-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features181-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.d-fragment30 {
  display: contents;
}
 
.d-text30 {
  display: inline-block;
}
 
.d-fragment31 {
  display: contents;
}
 
.d-text31 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features181-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.features191-wrapper {
  display: contents;
}
 
.features191-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features191-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features191-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features191-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d-fragment33 {
  display: contents;
}
 
.d-text33 {
  display: inline-block;
}
 
.d-fragment32 {
  display: contents;
}
 
.d-text32 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features191-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}

.features182-wrapper {
  display: contents;
}
 
.features182-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features182-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features182-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features182-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features182-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features182-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.d-fragment34 {
  display: contents;
}
 
.d-text34 {
  display: inline-block;
}
 
.d-fragment35 {
  display: contents;
}
 
.d-text35 {
  display: inline-block;
}
 
.d-fragment36 {
  display: contents;
}
 
.d-text36 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features182-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}

.gallery111-wrapper {
  display: contents;
}
 
.gallery111-gallery3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery111-max-width {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.gallery111-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.gallery111-text1 {
  text-align: center;
}
 
.gallery111-text2 {
  text-align: center;
}
 
.gallery111-content {
  width: 100%;
  display: flex;
  max-width: 900px;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.gallery111-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery111-image1 {
  width: 100%;
  height: 340px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.gallery111-image2 {
  width: 100%;
  height: 340px;
  align-self: center;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
 
.gallery111-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.gallery111-image3 {
  width: 100%;
  height: 340px;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
 
.gallery111-image4 {
  width: 100%;
  height: 340px;
  border-radius: var(--dl-radius-radius-imageradius);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}
 
.d-fragment37 {
  display: contents;
}
 
.d-text37 {
  display: inline-block;
}
 
.d-fragment38 {
  display: contents;
}
 
.d-text38 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .gallery111-content {
    max-width: 600px;
    align-items: center;
    flex-direction: column;
  }
  .gallery111-image1 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery111-image2 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery111-image3 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
  .gallery111-image4 {
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
  }
}

.contact3-wrapper {
  display: contents;
}
 
.contact3-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact3-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact3-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-row {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
 
.contact3-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text12 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text13 {
  text-align: center;
}
 
.contact3-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text14 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text15 {
  text-align: center;
}
 
.contact3-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact3-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact3-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-direction: column;
}
 
.contact3-text16 {
  align-self: stretch;
  text-align: center;
}
 
.contact3-text17 {
  text-align: center;
}
 
.contact3-address {
  text-align: center;
}
 
.d-fragment43 {
  display: contents;
}
 
.d-text48 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment40 {
  display: contents;
}
 
.d-text40 {
  display: inline-block;
}
 
.d-fragment39 {
  display: contents;
}
 
.d-text39 {
  display: inline-block;
}
 
.d-fragment44 {
  display: contents;
}
 
.d-text49 {
  display: inline-block;
}
 
.d-fragment41 {
  display: contents;
}
 
.d-text41 {
  display: inline-block;
}
 
.d-link1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-link2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment42 {
  display: contents;
}
 
.d-text44 {
  display: inline-block;
}
 
.d-link3 {
  text-decoration: underline;
}
 
.d-link4 {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
@media(max-width: 767px) {
  .contact3-row {
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .contact3-row {
    align-items: stretch;
  }
}

.footer4-wrapper {
  display: contents;
}
 
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
}
 
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: none;
  align-items: center;
  animation-name: none;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: none;
  align-items: flex-start;
}
 
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.footer4-row {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer4-container {
  display: flex;
  position: relative;
  align-items: flex-start;
}
 
.footer4-text1 {
  position: fixed;
}
 
.d-fragment47 {
  display: contents;
}
 
.d-text52 {
  display: inline-block;
}
 
.d-fragment46 {
  display: contents;
}
 
.d-text51 {
  display: inline-block;
}
 
.d-fragment45 {
  display: contents;
}
 
.d-text50 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
}

.d-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.d-fragment10 {
  display: contents;
}
 
.d-text10 {
  display: inline-block;
}
 
.d-fragment11 {
  display: contents;
}
 
.d-text11 {
  display: inline-block;
}
 
.d-fragment12 {
  display: contents;
}
 
.d-text12 {
  display: inline-block;
}
 
.d-fragment13 {
  display: contents;
}
 
.d-text13 {
  display: inline-block;
  text-decoration: underline;
}
 
.d-fragment14 {
  display: contents;
}
 
.d-text14 {
  display: inline-block;
}
 
.d-fragment15 {
  display: contents;
}
 
.d-text15 {
  display: inline-block;
}
 
.d-fragment16 {
  display: contents;
}
 
.d-text16 {
  display: inline-block;
}
 
.d-fragment17 {
  display: contents;
}
 
.d-text17 {
  display: inline-block;
}
 
.d-fragment18 {
  display: contents;
}
 
.d-text18 {
  display: inline-block;
  text-decoration: underline;
}
 
.d-fragment19 {
  display: contents;
}
 
.d-text19 {
  display: inline-block;
  text-decoration: underline;
}
 
.d-fragment20 {
  display: contents;
}
 
.d-text20 {
  display: inline-block;
}
 
.d-fragment21 {
  display: contents;
}
 
.d-text21 {
  display: inline-block;
}
 
.d-fragment22 {
  display: contents;
}
 
.d-text22 {
  display: inline-block;
}
 
.d-fragment23 {
  display: contents;
}
 
.d-text23 {
  display: inline-block;
}
 
.d-fragment24 {
  display: contents;
}
 
.d-text24 {
  display: inline-block;
}
 
.d-fragment25 {
  display: contents;
}
 
.d-text25 {
  display: inline-block;
}
 
.d-fragment26 {
  display: contents;
}
 
.d-text26 {
  display: inline-block;
}
 
.d-fragment27 {
  display: contents;
}
 
.d-text27 {
  display: inline-block;
}
 
.d-fragment28 {
  display: contents;
}
 
.d-text28 {
  display: inline-block;
}
 
.d-fragment29 {
  display: contents;
}
 
.d-text29 {
  display: inline-block;
}
 
.d-fragment30 {
  display: contents;
}
 
.d-text30 {
  display: inline-block;
}
 
.d-fragment31 {
  display: contents;
}
 
.d-text31 {
  display: inline-block;
}
 
.d-fragment32 {
  display: contents;
}
 
.d-text32 {
  display: inline-block;
}
 
.d-fragment33 {
  display: contents;
}
 
.d-text33 {
  display: inline-block;
}
 
.d-fragment34 {
  display: contents;
}
 
.d-text34 {
  display: inline-block;
}
 
.d-fragment35 {
  display: contents;
}
 
.d-text35 {
  display: inline-block;
}
 
.d-fragment36 {
  display: contents;
}
 
.d-text36 {
  display: inline-block;
}
 
.d-fragment37 {
  display: contents;
}
 
.d-text37 {
  display: inline-block;
}
 
.d-fragment38 {
  display: contents;
}
 
.d-text38 {
  display: inline-block;
}
 
.d-fragment39 {
  display: contents;
}
 
.d-text39 {
  display: inline-block;
}
 
.d-fragment40 {
  display: contents;
}
 
.d-text40 {
  display: inline-block;
}
 
.d-fragment41 {
  display: contents;
}
 
.d-text41 {
  display: inline-block;
}
 
.d-link1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-link2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment42 {
  display: contents;
}
 
.d-text44 {
  display: inline-block;
}
 
.d-link3 {
  text-decoration: underline;
}
 
.d-link4 {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline;
}
 
.d-fragment43 {
  display: contents;
}
 
.d-text48 {
  display: inline-block;
  font-style: normal;
  font-weight: 600;
}
 
.d-fragment44 {
  display: contents;
}
 
.d-text49 {
  display: inline-block;
}
 
.d-fragment45 {
  display: contents;
}
 
.d-text50 {
  display: inline-block;
}
 
.d-fragment46 {
  display: contents;
}
 
.d-text51 {
  display: inline-block;
}
 
.d-fragment47 {
  display: contents;
}
 
.d-text52 {
  display: inline-block;
}
