.features191-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features191-max-width {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features191-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features191-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-section-title {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features191-fragment1 {
  display: contents;
}
 
.features191-text3 {
  display: inline-block;
}
 
.features191-fragment2 {
  display: contents;
}
 
.features191-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features191-max-width {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
}
