.hero41-header13 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.hero41-content {
  height: 700px;
  display: flex;
  justify-content: center;
}
 
.hero41-iframe {
  top: -254px;
  right: -800px;
  width: 515px;
  height: 451px;
  position: absolute;
}
 
.hero41-max-width {
  height: auto;
  align-self: center;
  align-items: flex-start;
}
 
.hero41-column1 {
  top: 0px;
  flex: 1;
  left: 0px;
  width: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero41-text1 {
  top: 0px;
  left: 0px;
  position: absolute;
  align-self: flex-start;
}
 
.hero41-column2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.hero41-text2 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.hero41-actions {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.hero41-fragment1 {
  display: contents;
}
 
.hero41-text3 {
  display: inline-block;
}
 
.hero41-fragment2 {
  display: contents;
}
 
.hero41-text4 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .hero41-max-width {
    flex-direction: column;
  }
  .hero41-text1 {
    text-align: center;
  }
  .hero41-text2 {
    text-align: center;
  }
  .hero41-actions {
    width: 100%;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .hero41-actions {
    flex-direction: column;
  }
}
