.logos4-container1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.logos4-max-width {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.logos4-text1 {
  text-align: center;
}
 
.logos4-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-threeunits);
  align-self: center;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
 
.logos4-logo1 {
  object-fit: contain;
}
 
.logos4-logo2 {
  object-fit: contain;
}
 
.logos4-logo3 {
  object-fit: contain;
}
 
.logos4-logo4 {
  object-fit: contain;
}
 
.logos4-logo5 {
  object-fit: contain;
}
 
.logos4-logo6 {
  object-fit: contain;
}
 
.logos4-logo7 {
  object-fit: contain;
}
 
.logos4-logo81 {
  object-fit: contain;
}
 
.logos4-logo82 {
  object-fit: contain;
}
 
.logos4-logo83 {
  object-fit: contain;
}
 
.logos4-fragment {
  display: contents;
}
 
.logos4-text2 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .logos4-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
 
@media(max-width: 479px) {
  .logos4-container2 {
    grid-template-columns: 1fr 1fr;
  }
}
